################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chat Test App/Chat Test App/bin/Debug/net6.0/linux-x64/publish
/Chat Test App/Chat Test App/bin/Debug/net6.0/linux-x64
/Chat Test App/Chat Test App/obj/Debug/net6.0/linux-x64
/Server/bin/Debug/net6.0/linux-x64
/Server/obj/Debug/net6.0/linux-x64
/Server/.vs/Server/FileContentIndex/1ebdb722-66a8-4baf-872e-893409c1da55.vsidx
*.vsidx
/Server/.vs/Server/v17/.futdcache.v2
/Server/.vs/Server/FileContentIndex/57e180e9-b538-4a05-822c-ff9d925f4b58.vsidx
/Server/.vs/Server/FileContentIndex/e3093c2e-5aef-4226-b227-cae14a1dea7d.vsidx
/Server/obj/Debug/net6.0/Server.pdb
/Server/obj/Debug/net6.0/Server.dll
/Server/Client.cs
/Server/bin/Debug/net6.0/Server.pdb
/Server/bin/Debug/net6.0/Server.dll
/Server/.vs/Server/v17/.suo
/Client/obj/Debug/Client.pdb
/Client/obj/Debug/Client.exe
/Client/bin/Debug/Client.exe
/Client/bin/Debug/Client.pdb
